{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-header">
            About
        </div>
        <div class="card-body">
            <h5 class="card-title">Information about this website</h5>
            <p class="card-text">
                This is an implementation of the MyBlog application, developed over the course of many goblin lifetimes.
                This is an implementation of the MyBlog application, developed over the course of many goblin lifetimes.
            </p>
            <p class="card-text">
                The intent of the application is not to create a complete and fully featured blogging system, but to
                progressively see and learn how to implement the big picture for a complex system such as this.
            </p>
        </div>
    </div>
</div>

{% endblock %}